{% extends 'blog/base.html' %}

{% include 'blog/_header.html' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}

{% include 'blog/_header.html' %}
<div class="user">
    <ul class="user_left">
        <a href="{% url 'blog:profile' blog.author %}">
            <img src="{{ blog.profile.gravatar }}">
        </a>
    </ul>
    <ul class="user_left">
        <a href="{% url 'blog:profile' blog.author %}">
            <li>{{ request.user.username }}</li>
        </a>
        {% if userprofile.location %}
        <li><a href="{% url 'blog:getmap' userprofile.location %}" target="_blank">{{ userprofile.location }}</a></li>
        {% endif %}
        <li style="width:800px; background-color:#f0f0f0; height:1px;"></li>
    </ul>
    <ul class="user_right">
        <li><a href="">关注</a></li>
        <li><a href="">发私信</a></li>
    </ul>
</div>
<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-9">
                <article class="post post-1 typo">
                    <header class="entry-header">
                        <h1 class="entry-title">{{ blog.title }}</h1>
                        <div class="entry-meta">
                            <span class="post-date">
                                <time class="entry-date"
                                      datetime="2016年8月21日 12:41">{{ blog.pub_date }}
                                </time>
                            </span>
                            {% if blog.author %}
                            <span class="post-author"><a href="{% url 'blog:profile' blog.author %}">{{ blog.author }}</a></span>
                            {% endif %}
                            {% if comments %}
                            <span class="comments-link">{{ comments.count }} 评论</span>
                            {% else %}
                            <span class="comments-link">{{ comments.count }} 评论</span>
                            {% endif %}
                            <span class="post-views">{{ blog.read }} 阅读</span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        {{ blog.body }}
                        <div class="clearfix"></div>
                    </div>
                </article>
                <form id="comment-form" method="post">
                    {{ form }}
                    <input type="submit" value="回复">
                </form>
                <div class="comment-panel">
                    {% if comments %}
                    {% for comment in comments %}
                    <a href="{% url 'blog:profile' comment.user %}">
                        <img src="{{ comment.profile.gravatar }}">
                    </a>
                    <a href="{% url 'blog:profile' comment.user %}"><span>{{ comment.user }}</span></a>
                    <div class="comment-content">
                     {{ comment.body }}
                    </div>

                    {% endfor %}
                    {% endif %}
                </div>
            </main>
        </div>
    </div>
</div>

{% endblock %}