{% extends 'blog/base.html' %}
{% load static %}
{% block title %}登陆{% endblock %}

{% block body %}
<div class="login">
<div class="banner">
<a href=""><img src="{% static 'blog/images/banner.png' %}"></a>
</div>
<div class="login_box">
    <form method="post" enctype="multipart/form-data">
        <div>
        <h3>登录</h3>
        {{ form }}
        </div>
        <div class="forget-password">
            <input class="rememberMe" name="rememberMe" type="checkbox"><span>下次自动登录</span><span><a href="{% url 'blog:getpassword' %}">忘记密码</a></span>
        </div>
        <div>
            <input class="logging" type="submit" value="登录">
        </div>
        <div class="register">
            <span>还没有帐号？</span>
            <a href="{% url 'blog:register' %}">立即注册</a>
        </div>
        {% if login_error %}
            {{ login_error }}
        {% endif %}
    </form>
</div>
<div class="clearfix"></div>
</div>

{% endblock %}
