{% extends 'blog/base.html' %}

{% load static %}

{% block title %}个人信息{% endblock %}

{% block body %}

{% include 'blog/_header.html' %}

<div class="user">
    <ul class="user_left">
        <li><img src="images/picture.png"></li>
    </ul>
    <ul class="user_left">
        <li>{{ request.user.username }}</li>
        <li><a>中国-北京-东城区&nbsp;&nbsp;&nbsp;|</a></li>
        <li style="width:800px; background-color:#f0f0f0; height:1px;"></li>
        <li><span>没有内容可显示</span></li>
        <li><a href=""><img src="images/icon1.png"></a><a href=""><img src="images/icon2.png"></a><span style="width:1px; height:20px; background-color:#999999; display:inline-block;"></span>&nbsp;&nbsp;<a href=""><img src="images/icon3.png"></a></li>
    </ul>
    <ul class="user_right">
        <li><a href="">关注</a></li>
        <li><a href="">发私信</a></li>
    </ul>
</div>
<div class="clearfix"></div>

<div class="main">
    <div class="main_left">
        <div class="post">
            <div class="post_box">
                <ul class="post_box_nav">
                    <li class="bg1">发表的博客</li>
                    <div class="clearfix"></div>
                </ul>
                <div class="post_box_title">
                    <ul>
                        {% if posts %}
                        {% for post in posts %}
                        <li>
                            <div><a href="{% url 'blog:article' post.id %}">{{ post.title }}</a></div>
                            <span>{{ post.pub_date }}</span>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li>没有内容可显示</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'blog/_page.html' %}

{% endblock %}