<!doctype html>
{% load static %}
<html>
<head>
<script src="{% static 'blog/jquery.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}" />
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}


<script>
$(".post_box_nav li").click(function(){
	var x=$(this).index()
		$(".post_box_title").eq(x).show().siblings(".post_box_title").hide()
	$(this).addClass("bg1").siblings(".post_box_nav li").removeClass("bg1")
	})

	$(".data_nav li").click(function(){
	var x=$(this).index()
		$(".data_main").eq(x).show().siblings(".data_main").hide()
	$(this).addClass("bg2").siblings(".data_nav li").removeClass("bg2")
	})
</script>
{% endblock %}
</body>
</html>
